In [6]:
# import all packages here
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [7]:
# import all data
with open('/Users/euniceyao/Documents/GitHub/CCC_A2/final_processed_data/sa_avg_tweet_pp_sport.json') as f:
    sport_tweets_pp = json.load(f)

with open('/Users/euniceyao/Documents/GitHub/CCC_A2/final_processed_data/sa_avg_tweet_pp_data.json') as f:
    food_tweets_pp = json.load(f)

with open('/Users/euniceyao/Documents/GitHub/CCC_A2/final_processed_data/sa_avg_tweet_pp_vehicle.json') as f:
    vehicle_tweets_pp = json.load(f)

with open('/Users/euniceyao/Documents/GitHub/CCC_A2/final_processed_data/positive_sentiment_towards_sport_by_loc.json') as f:
    sport_sentiment = json.load(f)

with open('/Users/euniceyao/Documents/GitHub/CCC_A2/final_processed_data/weekly_median_income_by_loc.json') as f:
    food_income = json.load(f)

with open('/Users/euniceyao/Documents/GitHub/CCC_A2/sudo_data/scenario_2/avg_vehicle.json') as f:
    vehicle_avg_num = json.load(f)

In [8]:
# a function to turn json to df in ideal format
def js_2_df(json_data, var_name):
    df_dict = {'sa_code': [], var_name: []}  # Initialize an empty dictionary for DataFrame creation

    for sa_code, var_data in json_data.items():
        df_dict['sa_code'].append(sa_code)
        df_dict[var_name].append(var_data)

    df = pd.DataFrame(df_dict)  # Create DataFrame from the dictionary

    return df

In [9]:
sport_tweets_pp_df = js_2_df(sport_tweets_pp, 'sport_tweets_pp')
sport_sentiment_df = js_2_df(sport_sentiment, 'sport_sentiment')
food_tweets_pp_df = js_2_df(food_tweets_pp, 'food_tweets_pp')
food_income_df = js_2_df(food_income, 'food_income')
vehicle_tweets_pp_df = js_2_df(vehicle_tweets_pp, 'vehicle_tweets_pp')
vehicle_avg_num_df = js_2_df(vehicle_avg_num, 'vehicle_avg_num')

In [12]:
sport_tweets_pp_df.head()

  sa_code  sport_tweets_pp
0     101         0.001393
1     102         0.000110
2     103         0.006753
3     104         0.001519
4     105         0.003674